In [1]:
import pandas as pd
data = pd.read_csv('Airbnb_Open_Data.csv')
data.head(5)

<ipython-input-1-6986bf17b917>:2: DtypeWarning: Columns (25) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv('Airbnb_Open_Data.csv')

,id,NAME,host id,host_identity_verified,host name,neighbourhood group,neighbourhood,lat,long,country,...,service fee,minimum nights,number of reviews,last review,reviews per month,review rate number,calculated host listings count,availability 365,house_rules,license
0,1001254,Clean & quiet apt home by the park,80014485718,unconfirmed,Madaline,Brooklyn,Kensington,40.64749,-73.97237,United States,...,$193,10.0,9.0,10/19/2021,0.21,4.0,6.0,286.0,Clean up and treat the home the way you'd like...,NaN
1,1002102,Skylit Midtown Castle,52335172823,verified,Jenna,Manhattan,Midtown,40.75362,-73.98377,United States,...,$28,30.0,45.0,5/21/2022,0.38,4.0,2.0,228.0,Pet friendly but please confirm with me if the...,NaN
2,1002403,THE VILLAGE OF HARLEM....NEW YORK !,78829239556,NaN,Elise,Manhattan,Harlem,40.80902,-73.94190,United States,...,$124,3.0,0.0,NaN,NaN,5.0,1.0,352.0,"I encourage you to use my kitchen, cooking and...",NaN
3,1002755,NaN,85098326012,unconfirmed,Garry,Brooklyn,Clinton Hill,40.68514,-73.95976,United States,...,$74,30.0,270.0,7/5/2019,4.64,4.0,1.0,322.0,NaN,NaN
4,1003689,Entire Apt: Spacious Studio/Loft by central park,92037596077,verified,Lyndon,Manhattan,East Harlem,40.79851,-73.94399,United States,...,$41,10.0,9.0,11/19/2018,0.10,3.0,1.0,289.0,"Please no smoking in the house, porch or on th...",NaN

In [2]:
columns_to_keep = ['NAME', 'host id', 'host_identity_verified', 'host name',
       'neighbourhood group', 'neighbourhood', 'lat', 'long', 'country',
       'country code', 'instant_bookable', 'cancellation_policy', 'room type',
       'Construction year', 'price', 'service fee', 'minimum nights',
       'number of reviews', 'last review']
columns_to_drop = ['id', 'reviews per month',
       'review rate number', 'calculated host listings count',
       'availability 365', 'house_rules', 'license']
df = data[columns_to_keep]
df.rename(columns = {'NAME':'Name', 'host id':'host_id', 'host_identity_verified':'host_id_verified',
                       'host name':'host_name','neighbourhood group':'neighbourhood_group',
                      'country code':'country_code','room type':'room_type','Construction year':'construction_year',
                       'service fee':'service_fee', 'minimum nights':'minimum_nights','number of reviews':'number_of_reviews',
                       'last review':'last_review'} , inplace = True)
new_column_names = []
for i in df.columns:
  new_column_names.append(i.title())
df.columns = new_column_names

<ipython-input-2-9dd608de2744>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.rename(columns = {'NAME':'Name', 'host id':'host_id', 'host_identity_verified':'host_id_verified',

In [3]:
df.drop_duplicates(inplace = True)

<ipython-input-3-9ce7144259af>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop_duplicates(inplace = True)

In [4]:
df['Host_Id_Verified'] = df['Host_Id_Verified'].str.title()

<ipython-input-4-8a096ba87c56>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Host_Id_Verified'] = df['Host_Id_Verified'].str.title()

In [5]:
df.isna().sum()

Name                     250
Host_Id                    0
Host_Id_Verified         289
Host_Name                404
Neighbourhood_Group       29
Neighbourhood             16
Lat                        8
Long                       8
Country                  532
Country_Code             131
Instant_Bookable         105
Cancellation_Policy       76
Room_Type                  0
Construction_Year        214
Price                    247
Service_Fee              273
Minimum_Nights           400
Number_Of_Reviews        183
Last_Review            15832
dtype: int64

In [6]:
df.drop(columns = ['Last_Review'], inplace = True)

<ipython-input-6-337a0ae05252>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(columns = ['Last_Review'], inplace = True)

In [7]:
df.isna().sum()

Name                   250
Host_Id                  0
Host_Id_Verified       289
Host_Name              404
Neighbourhood_Group     29
Neighbourhood           16
Lat                      8
Long                     8
Country                532
Country_Code           131
Instant_Bookable       105
Cancellation_Policy     76
Room_Type                0
Construction_Year      214
Price                  247
Service_Fee            273
Minimum_Nights         400
Number_Of_Reviews      183
dtype: int64

In [8]:
df.dropna(inplace = True)

<ipython-input-8-d1ada024d2eb>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.dropna(inplace = True)

In [9]:
df.isna().sum()

Name                   0
Host_Id                0
Host_Id_Verified       0
Host_Name              0
Neighbourhood_Group    0
Neighbourhood          0
Lat                    0
Long                   0
Country                0
Country_Code           0
Instant_Bookable       0
Cancellation_Policy    0
Room_Type              0
Construction_Year      0
Price                  0
Service_Fee            0
Minimum_Nights         0
Number_Of_Reviews      0
dtype: int64

In [10]:
df['Cancellation_Policy'] = df['Cancellation_Policy'].str.title()

<ipython-input-10-c2fab6045788>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Cancellation_Policy'] = df['Cancellation_Policy'].str.title()

In [11]:
df['Room_Type'] = df['Room_Type'].str.title()

<ipython-input-11-6817efb4d813>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Room_Type'] = df['Room_Type'].str.title()

In [12]:
df.head(5)

,Name,Host_Id,Host_Id_Verified,Host_Name,Neighbourhood_Group,Neighbourhood,Lat,Long,Country,Country_Code,Instant_Bookable,Cancellation_Policy,Room_Type,Construction_Year,Price,Service_Fee,Minimum_Nights,Number_Of_Reviews
0,Clean & quiet apt home by the park,80014485718,Unconfirmed,Madaline,Brooklyn,Kensington,40.64749,-73.97237,United States,US,False,Strict,Private Room,2020.0,$966,$193,10.0,9.0
1,Skylit Midtown Castle,52335172823,Verified,Jenna,Manhattan,Midtown,40.75362,-73.98377,United States,US,False,Moderate,Entire Home/Apt,2007.0,$142,$28,30.0,45.0
4,Entire Apt: Spacious Studio/Loft by central park,92037596077,Verified,Lyndon,Manhattan,East Harlem,40.79851,-73.94399,United States,US,False,Moderate,Entire Home/Apt,2009.0,$204,$41,10.0,9.0
5,Large Cozy 1 BR Apartment In Midtown East,45498551794,Verified,Michelle,Manhattan,Murray Hill,40.74767,-73.97500,United States,US,True,Flexible,Entire Home/Apt,2013.0,$577,$115,3.0,74.0
7,BlissArtsSpace!,90821839709,Unconfirmed,Emma,Brooklyn,Bedford-Stuyvesant,40.68688,-73.95596,United States,US,False,Moderate,Private Room,2009.0,"$1,060",$212,45.0,49.0

In [13]:
df['Construction_Year'] = df['Construction_Year'].astype('int')

<ipython-input-13-79271e353c48>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Construction_Year'] = df['Construction_Year'].astype('int')

In [14]:
df.dtypes
df.reset_index(inplace = True)

In [15]:
df.dtypes

index                    int64
Name                    object
Host_Id                  int64
Host_Id_Verified        object
Host_Name               object
Neighbourhood_Group     object
Neighbourhood           object
Lat                    float64
Long                   float64
Country                 object
Country_Code            object
Instant_Bookable        object
Cancellation_Policy     object
Room_Type               object
Construction_Year        int64
Price                   object
Service_Fee             object
Minimum_Nights         float64
Number_Of_Reviews      float64
dtype: object

In [16]:
df = df.drop(columns = ['index'])

In [17]:
df.head(5)

,Name,Host_Id,Host_Id_Verified,Host_Name,Neighbourhood_Group,Neighbourhood,Lat,Long,Country,Country_Code,Instant_Bookable,Cancellation_Policy,Room_Type,Construction_Year,Price,Service_Fee,Minimum_Nights,Number_Of_Reviews
0,Clean & quiet apt home by the park,80014485718,Unconfirmed,Madaline,Brooklyn,Kensington,40.64749,-73.97237,United States,US,False,Strict,Private Room,2020,$966,$193,10.0,9.0
1,Skylit Midtown Castle,52335172823,Verified,Jenna,Manhattan,Midtown,40.75362,-73.98377,United States,US,False,Moderate,Entire Home/Apt,2007,$142,$28,30.0,45.0
2,Entire Apt: Spacious Studio/Loft by central park,92037596077,Verified,Lyndon,Manhattan,East Harlem,40.79851,-73.94399,United States,US,False,Moderate,Entire Home/Apt,2009,$204,$41,10.0,9.0
3,Large Cozy 1 BR Apartment In Midtown East,45498551794,Verified,Michelle,Manhattan,Murray Hill,40.74767,-73.97500,United States,US,True,Flexible,Entire Home/Apt,2013,$577,$115,3.0,74.0
4,BlissArtsSpace!,90821839709,Unconfirmed,Emma,Brooklyn,Bedford-Stuyvesant,40.68688,-73.95596,United States,US,False,Moderate,Private Room,2009,"$1,060",$212,45.0,49.0

In [18]:
type(df['Service_Fee'][15])

str

In [19]:
df["Price"] = df['Price'].str.replace("$", "")

In [20]:
df["Price"]

0          966
1          142
2          204
3          577
4        1,060
          ...
99337      822
99338      455
99339    1,078
99340      103
99341      982
Name: Price, Length: 99342, dtype: object

In [21]:
df["Price"] = df["Price"].str.replace(",", "")

In [22]:
df["Price"]

0         966
1         142
2         204
3         577
4        1060
         ...
99337     822
99338     455
99339    1078
99340     103
99341     982
Name: Price, Length: 99342, dtype: object

In [23]:
df["Price"] = df["Price"].str.replace(" ", "")
type(df["Price"])

pandas.core.series.Series

In [24]:
df["Price"].astype(int)

0         966
1         142
2         204
3         577
4        1060
         ...
99337     822
99338     455
99339    1078
99340     103
99341     982
Name: Price, Length: 99342, dtype: int64

In [25]:
df.head(1)

,Name,Host_Id,Host_Id_Verified,Host_Name,Neighbourhood_Group,Neighbourhood,Lat,Long,Country,Country_Code,Instant_Bookable,Cancellation_Policy,Room_Type,Construction_Year,Price,Service_Fee,Minimum_Nights,Number_Of_Reviews
0,Clean & quiet apt home by the park,80014485718,Unconfirmed,Madaline,Brooklyn,Kensington,40.64749,-73.97237,United States,US,False,Strict,Private Room,2020,966,$193,10.0,9.0

In [26]:
df["Service_Fee"] = df["Service_Fee"].str.replace("$,  ", "")

In [27]:
df["Service_Fee"] = df["Service_Fee"].str.replace(",", "")

In [28]:
df["Service_Fee"] = df["Service_Fee"].str.replace("$", "")

In [29]:
df["Service_Fee"].astype(int)

0        193
1         28
2         41
3        115
4        212
        ...
99337    164
99338     91
99339    216
99340     21
99341    196
Name: Service_Fee, Length: 99342, dtype: int64

In [30]:
df['Price'] = df["Price"].astype('int')

In [31]:
df['Service_Fee'] = df["Service_Fee"].astype('int')

In [32]:
df.dtypes

Name                    object
Host_Id                  int64
Host_Id_Verified        object
Host_Name               object
Neighbourhood_Group     object
Neighbourhood           object
Lat                    float64
Long                   float64
Country                 object
Country_Code            object
Instant_Bookable        object
Cancellation_Policy     object
Room_Type               object
Construction_Year        int64
Price                    int64
Service_Fee              int64
Minimum_Nights         float64
Number_Of_Reviews      float64
dtype: object

In [33]:
df.head(1)

,Name,Host_Id,Host_Id_Verified,Host_Name,Neighbourhood_Group,Neighbourhood,Lat,Long,Country,Country_Code,Instant_Bookable,Cancellation_Policy,Room_Type,Construction_Year,Price,Service_Fee,Minimum_Nights,Number_Of_Reviews
0,Clean & quiet apt home by the park,80014485718,Unconfirmed,Madaline,Brooklyn,Kensington,40.64749,-73.97237,United States,US,False,Strict,Private Room,2020,966,193,10.0,9.0

In [ ]:
df.to_csv('Airbnb_Open_Data_Cleaned.csv', index = False)